$colorfontblue : #4b8ef1;
$colorfontblack : #2a2a2a;
$colorPargraph : #afafaf;
$colorwhite : #fff;
$padleftandright : 20px;
$textcap : capitalize;
$fontsize : 15px;
$marginelementnav:22px;
$margintop:20px;
$padingelement : 30px;
$radius: 23px;

$minmobile:768px;
$widhtmobile : 720px;

$maxmeiumm:992px;
$widhtmedium : 970px;

$maxlarge:1200px;
$widhtlarge: 1170px;